{% extends "NurseryApp/base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
        <body class="text-center">
            <main class="form-signin w-100 m-auto">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        {{ form.username }}
                    </div>
                    <div>
                        {{ form.password }}
                    </div>
                    <button type="submit">Sign in</button> или <a href="register">Sing up</a>
                </form>
            </main>
        </body>
{% endblock %}